html {
   font-size: 62.5%;
}

@font-face {
   font-family: 'myFont';
   src: url('../fonts/abel-regular-webfont.woff2');
}

* {
   padding: 0;
   margin: 0;
   font-size: 1.6rem;
   box-sizing: border-box;
}

body {
   background-image: url('../images/background.jpg');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed; 
}

header {
   display: flex;
   justify-content: center;
}

nav {
   padding: 4rem;
   display: flex;
   gap: 1.5rem;
}

nav button {
   font-size: 1.8rem;
   padding: 1.5rem 3rem;
   background-color: #19180C;
   color: whitesmoke;
   border: none;
   cursor: pointer;
   transition: 1s;
}

nav button:hover {
   background-color: #07342D;
}
.container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.content-container {
   width: 60%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 4rem;
   color: white;
}

.brand-name {
   width: 50%;
   color: White;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
}

.brand-name p {
   font-family: 'myFont', sans-serif;
   font-size: 3rem;
   font-weight: bold;
}

.brand-name .span {
   font-style: italic;
}

.mission {
   width: 60%;
   margin: 4rem auto 0;
}

.mission h3{
   font-size: 6rem;
   text-align: center;
   color: #edd8d3;
}

.mission p {
   font-size: 1.8rem;
   line-height: 1.5;
   color: #edd8d3;
}